@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffd273;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bfaee3' fill-opacity='0.89'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #9b7f97;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background: rgba(255, 210, 115, 0.8);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
  position: relative;
  left: -1.5rem;
  margin-left: 1rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #c8a3c2;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem #b291ac;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem #c8a3c2;
}

.twitter-button:hover {
  color: #9cd0f9;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: hsl(243, 80%, 62%);
  margin-bottom: -5px;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  content: "";
}

.bouncingLoader > div {
  margin: 0 5px;
}

.bouncingLoader > div {
  animation-delay: 0.2s;
}

.bouncingLoader:after {
  animation-delay: 0.4s;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.7;
    transform: translate3d(0, -16px, 0);
  }
}
